.actions {
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	padding: 10px;
}

.action {
	background-color: #1d74ce;
	border-color: transparent;
	border-radius: 999px;
	color: white;
	cursor: pointer;
	font-weight: 700;
	height: 2.5em;
	margin-right: 25px;
	padding: 0 25px;
}

.action:last-of-type {
	margin-right: 0;
}

.filter {
	margin: 0 auto;
}
