.actionButton {
	background-color: transparent;
	border-width: 0;
	margin: 0 0 0 1px;
	outline: none;
	padding: 0;
}

.actionButton:focus {
	box-shadow: 0 0 3pt 2pt rgba(0, 0, 0, 0.2);
}

.completed {
	opacity: 0.5;
	text-decoration: line-through;
}

.deleteIcon,
.checkmarkIcon {
	cursor: pointer;
	height: 1.1rem;
	width: 1.1rem;
}

.checkmarkIcon {
	left: 21px;
}

.deleteIcon {
	left: 0;
}

.lineItem {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	display: grid;
	grid-template-columns: repeat(2, 25px) auto 100px;
	margin-right: 25px;
	padding: 5px 0 5px 0;
	position: relative;
}

.lineItem:last-of-type {
	border-bottom-width: 0;
}

.pastDue {
	color: #f00;
}

.todo {
	font-size: 1.1rem;
}
