.completed {
	opacity: 0.5;
	text-decoration: line-through;
}

.deleteIcon,
.checkmarkIcon {
	cursor: pointer;
	height: 1.1rem;
	width: 1.1rem;
}

.checkmarkIcon {
	left: 21px;
}

.deleteIcon {
	left: 0;
}

.lineItem {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	display: grid;
	grid-template-columns: repeat(2, 25px) auto 100px;
	margin-right: 25px;
	padding: 5px 0;
	position: relative;
}

.lineItem:last-of-type {
	border-bottom-width: 0;
}

.todo {
	font-size: 1.1rem;
}
