.container {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	height: 75vh;
	margin: 25px 0;
	position: relative;
	width: 50%;
}

.skrim {
	background-color: white;
	height: 100%;
	opacity: 0.4;
	position: absolute;
	top: 0;
	width: 100%;
}
