.title {
	margin: 0;
}

.listContainer {
	height: 100%;
	overflow: scroll;
	padding: 10px 0 10px 25px;
}

.todoList {
	list-style-type: none;
	margin: 10px 0 0;
	padding: 0;
}

.wrapper {
	height: calc(100% - 1.5em - 50px);
	overflow: scroll;
}
